{% extends "base.html.twig" %}
{% form_theme action_form "form/fields.html.twig" %}

{% block body %}
    {% include "default/navigation.html.twig" %}

    <div class="row">
        <div class="col-md-9" id="cert_list">
            <div class="cert_loader text-center">
                <img src="{{ asset("img/ring-alt.gif") }}" alt="Загрузка" width="40" height="40">
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading"><b>Итоговая сумма: <span class="pull-right" id="total-price">0</span></b></div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Обработка сертификатов</h4>
                </div>
                <div class="panel-body">
                    <div id="actions">
                        <select class="form-control">

                        </select>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary pull-right" onclick="ActionWithCertsBtn()">Выполнить</button>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Поиск сертификатов</h4>
                </div>
                <div class="panel-body">
                    <div id="find_certs_hided_menu">
                        <div id="loader" class="text-center">
                            <img src="{{ asset("img/ring-alt.gif") }}" alt="Загрузка" width="40" height="40">
                        </div>
                        <div class="selects hidden">
                            <label for="id_select">ID сертификата</label>
                            <input type="text" class="form-control" id="id_select">
                            <label style="margin-top: 10px" for="last_name_select">Фамилия</label>
                            <input type="text" class="form-control" id="last_name_select">
                            <label style="margin-top: 10px" for="name_select">Имя</label>
                            <input type="text" class="form-control" id="name_select">
                            <label style="margin-top: 10px" for="dealer_select">Дилер</label>
                            <select class="form-control" id="dealer_select">
                                <option selected value="none">Выбрать все</option>
                            </select>
                            <label style="margin-top: 10px" for="flight_type_select">Тип полета</label>
                            <select class="form-control" id="flight_type_select">
                                <option selected value="none">Выбрать все</option>
                            </select>
                            <label style="margin-top: 10px" for="phone_select">Номер телефона</label>
                            <input type="text" class="form-control" id="phone_select">
                            <br>
                            <button class="btn btn-default" onclick="CleanInputs()">Сбросить</button>
                            <button class="btn btn-primary pull-right" onclick="FindCertsByCriteria()">Найти</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset("js/modals/YesNoDialog.js") }}" type="application/javascript"></script>
    <script src="{{ asset("js/view_certificates.js") }}" type="application/javascript"></script>
{% endblock %}