{% extends "base.html.twig" %}
{% form_theme action_form "form/fields.html.twig" %}

{% block body %}
    {% include "default/navigation.html.twig" %}

    <div class="row">
        <div class="col-md-9" id="cert_list">
            <div class="cert_loader text-center">
                <img src="{{ asset("img/ring-alt.gif") }}" alt="Загрузка" width="40" height="40">
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Обработка сертификатов</h4>
                </div>
                <div class="panel-body">
                    <div id="actions">
                        <select class="form-control">

                        </select>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary pull-right" onclick="ActionWithCertsBtn()">Выполнить</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset("js/modals/YesNoDialog.js") }}" type="application/javascript"></script>
    <script src="{{ asset("js/view_certificates.js") }}" type="application/javascript"></script>
{% endblock %}